.header__lang-link {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px;
    justify-self: end;
    justify-content: row;
    align-self: last baseline;
    margin: 0;
    list-style: none;
    padding: 0;
}