.cover__background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../../../images/__background.png);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
}

.cover__background:hover {
    opacity: 0.3;
}